###############################
# Sealion Server Configuration
#
# By Hyunjun KIM (agemor)
################################

# 서버 이름
name = Lion SE IV

# 서버 버전
version = 1.0a

# 서버를 열 포트
port = 17343

# 최대 동시접속자 수
maximum-connection = 1000

# 통신 시 사용할 인코딩 방식
encoding = utf-8

# 같은 IP에서 중복 연결 허용 여부
allow-duplicate-connection = true

# 데이터베이스 연결 정보
db-host = jdbc:mysql://localhost:3306/lionse?useUnicode=true&characterEncoding=utf8&autoReconnect=true
db-user = root
db-password = asd123